<h1>Listing customers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td>$<%= number_with_precision(customer.total_sales, :precision => 2) %></td>
        <td><a href= <%= "/customers/#{customer.id}"%> >Show</a></td>
        <td><a href= <%= "/customers/#{customer.id}/edit"%> >Edit </a></td>
        <td><a data-confirm="Are you sure?" data-method="delete" href= <%= "/customers/#{customer.id}" %> >
          Destroy</a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<a data-confirm="Are you sure?" data-method="delete" href="/customers/1" rel="nofollow">Destroy</a>

<br>

<%= link_to 'New Customer', new_customer_path %>
